.App h1{
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
}

.App{
  background-color: #718E75;
}

.heart{
  position: absolute;
  top: 30px;
  right: 50px;
}

.info{
  display: flex;
  flex-direction: column;

}


.info img{
  width: 20%;
  align-self: center;
  border:solid 10px #75718E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.info button{
  width: 20%;
  align-self: center;
  border: none;
  margin-top: 20px;
}

.info h2{
  width: 30%;
  align-self: center;
  text-align: center;
}

form{
  text-align: center;
}

form label{
  margin-right: 20px;
}

form input{
  border-radius: 10px;
}

a{
  align-self: center;
}




