.App h1{
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
}

.App{
  background-color: #8E7571;
  color: white;
}

.heart{
  position: absolute;
  top: 30px;
  right: 50px;
}

.infoDisplay{
  display: flex;
  flex-wrap: wrap;
}

.info{
  display: flex;
  flex-direction: column;
  width: 30%;

}


.info img{
  align-self: center;
  width: 40%;
  border:solid 10px #75718E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.info button{
  width: 30%;
  align-self: center;
  border: none;
  margin-top: 20px;
  background-color: #718E75;
  margin-bottom: 20px;
}

.info h2{
  align-self: center;
  text-align: center;
  font-size: 20px;
}

form{
  text-align: center;
  margin-bottom: 40px;
}

form label{
  margin-right: 20px;
}

form input{
  border-radius: 10px;
}

a{
  align-self: center;
}

footer{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}




